package ui

templ Input(inputType string, name string, placeholder string, attrs ...string) {
	<input type={ inputType } name={ name } class="px-4 py-2 border border-neutral-300 hover:border-yellow-400 rounded-lg" placeholder={ placeholder } attrs/>
}
